* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #282A36;
}

a {
    text-decoration: none;
    transition: all 0.4s;
}

input:focus {
    outline: none;
}
/* Defining a menu navbar */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 10% 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
    background-color: #282A36;
    box-shadow: rgba(0, 0, 0, 0.296) 0px 40px 43px -20px; 
}

.logo {
    color: #ededed;
    font-size: 25px;
    text-decoration: none;
    font-weight: 600;
}

.dot {
    color: #39f077;
    font-size: 25px;
    margin-left: 0;
}

.burger-menu {
    font-size: 30px;
    color: #ededed;
    background-color: transparent;
    border: none;
    display: none;
}
.navbar a {
    color: #ededed;
    font-size: 16px;
    font-weight: 500;
    margin-left: 40px;
    padding: 0 15px 20px;
}

.navbar a:hover,
.burger-menu:hover {
    color: #39f077;
}

.navbar a.active {
    color: #39f077;
    font-weight: 700;
    border-bottom: solid 4px;
}

/* Defining the main presentation */
.main {
    display: flex;
    align-items: center;                                                                                 ;
    padding: 10% 10%;
    color: #ededed;
    height: auto;
}

.main h1 {
    font-size: 46px;
    font-weight: 700;
    color:#39f077;
    padding-bottom: 7px;
}

.main h3 {
    font-size: 22px;
    padding-bottom: 5px;
}

.main p {
    font-weight: 300;
    padding-bottom: 8%;
    max-width: 700px;
}

.button-box {
    display: flex;
    justify-content: space-between;
    max-width: 500px;    
    gap: 2em;
    padding-top: 1em;
}

.button-box a {
    text-decoration: none;
    text-align: center;
    color: #ededed;
    background-color: transparent;
    border: 2px solid #ededed;
    border-radius: 7px;
    padding: 4%;
    letter-spacing: 0.85px;
}

.button-box a:nth-child(1) {
    color: #282A36;
    background-color: #39f077;
    border: 2px solid #39f077;
}

.button-box a:hover {
    border: 2px solid #39f077;
    background-color: #39f077;
    color:#282A36;   
}

.button-box a:nth-child(1):hover {   
    background-color: #21a14c;
    border: 2px solid #21a14c;
    color: #ededed;
}

.call-section{
    background-color: #ededed;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 5em;
}

.text-box {
    color: #ededed;
}

.box {
    background: rgb(57,240,119);
    background: linear-gradient(203deg, rgba(57,240,119,1) 0%, rgba(79,130,112,0.9977124638918067) 100%); 
    border-radius: 15px;
    padding: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.box a {
    border: 2px solid #282A36;
    border-radius: 10px;
    color: #282A36;
    font-weight: 500;   
    padding: 1em;
    
}

.box a:hover {
    border: 2px solid #ededed;
    background-color: #ededed;
    color:  rgba(9,121,90,1);
    font-weight: 500;
}
/* Defining footer */
.footer {
    background-color: transparent;
    padding: 20px 0 10px;
    bottom: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-icon {   
    padding: 0;
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    gap: 45px;
}

.bottom-icon a {    
    display: flex;
    font-size: 20px;
    color:#39f077;
    padding: 5px;
    border: 2px solid #39f077;
    border-radius: 50%;
}

.bottom-icon a:hover {
    color: #282A36;
    background-color: #39f077;
    border: 2px solid #39f077;
}

.bottom-text {
    color: #ededed;
}

/*Defining Form*/
.main.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    padding: 0 10% 15px;
    color: #ededed;
    margin-bottom: 11vh;
}

.heading {
    color: #ededed;
    font-size: 47px;
    padding: 45px 0 0;
    height: 32vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.me {
    color:#39f077;
}

.heading p {
    font-size: 21px;
}

.form {
    margin-top: 20vh;
    width: 50%;
    padding: 40px 20px 40px;
    display: flex;
    flex-wrap: wrap;
    background-color: #353744c5;
    border-radius: 0.8em;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.input-field {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.input-box{
    display: flex;
    flex-direction: column;
    gap: 2em;   
}

.input-box input {
    background-color: #282A36;
    color: #ededed;
    letter-spacing: 1px;
    font-size: 15px;
    padding: 12px;
    width: 22em;
    border: 2px solid #39f077;
    border-radius: 0.5em;    
}

.input-box.message {
    margin-top: 2em;
    width: 99%;
}

.message input {
    width: 100%;
    padding-bottom: 25vh;
}

.submit-cont {
    display: flex;
    justify-content: center;
    width: 100%;
}

.submit {    
    color:#282A36;
    font-size: 22px;
    font-weight: 700;
    padding: 0.5em 2em;
    border-radius: 0.5em;
    background-color: #39f077;
    margin-top: 1.7em;
    border: none;
}

.submit:hover {
    background-color: #21a14c;
}

/*Defining about section */
.main-about {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 4.4em;
    background-color: #2f3241;
    padding-bottom: 1em;                                                                               
    padding: 5% 10%;
    color: #ededed;
}

.heading {
    display: flex;
    height: auto;
    margin-bottom: 2em;
    padding: 0;
}
.about{
    padding: 0;
}

.image {
    display: flex;
    justify-content: center;
    
}
.image img {
    width: 34em;
    border: 5px solid #39f077;
    border-radius: 50%;
    box-shadow: 0 20px 50px 15px limegreen;
}

.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.presentation h2 {
    margin-top: 3em;
    color: #39f077;
}
.presentation p {
    color: #ededed;
    padding: 2% 10%;
}

.main-about a {
    background-color:#39f077;
    border: 2px solid #39f077;
    color:#282A36;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin-bottom: 3em;
}

.main-about a:hover {
    background-color: #70C247;
    border: 2px solid #70C247;
}

/* Defining my experience*/
.design-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282A36;
  min-height: 100vh;
  padding: 100px 0;
  margin-top: 5%;
}

.design-section .heading {
    margin: 5% 0;
}
.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.timeline-content {
  padding: 20px;
  background: #2f3241;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  border-radius: 5px;
  color: white;
  padding: 1.75rem;
  transition: 0.4s ease;
  overflow-wrap: break-word !important;
  margin: 1rem;
  margin-bottom: 20px;
  border-radius: 6px;
}

.timeline-component {
  margin: 0px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.timeline-component h3 {
    color: #39f077;
}

@media screen and (min-width: 768px) {
  .timeline {
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
  }
  .timeline-middle {
    position: relative;
    background-color: #39f077;
    width: 3px;
    height: 100%;
  }
  .main-middle {
    opacity: 0;
  }
  .timeline-circle {
    position: absolute;
    top: 0;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #39f077;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

/* Defining my projects*/
.project-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #282A36;
    padding: 100px 0;
    margin-top: 5%;
}

.card-container {    
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
}

.project-card {
    display: flex;
    flex-direction: column;
    background-color: #2f3241;
    width: 25%;
    height: 54vh;
    border-radius: 2em;
    color: #ededed;
    gap: 1em;
    box-shadow: #39f077 -5px 5px, #39f0766d -10px 10px, #39f0762b -15px 15px;
    transition: 0.4s;
    font-size: 14px;
    margin: 2em;
}

.project-card:hover {
    height: 56vh;
    width: 27%;
    transition: 0.4s;
    font-size: 16px;
    gap:0.5em;
}

.project-card h3{
    color: #39f077;
    font-size: 20px;
    text-align: center;
}

.project-card img {
    width: 100%;
    margin-bottom: 1em;
    border-radius: 2em 2em 0 0;
}

.text-card {
    display: flex;
    flex-direction: column;
    padding: 2em;
    gap: 2em;
}

/*  Small devices*/
@media (max-width: 767.98px) {
    /*navbar*/
    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 8% 10px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        transition: 0.3s;
        box-shadow: rgba(0, 0, 0, 0.296) 0px 40px 43px -20px;        
    }
    .navbar {
        display: none;
        flex-direction: column;
        background-color: #282A36;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 10px 0;
    }
    .logo {
       margin-right: 25%;
    }
    
    .navbar a {
        margin: 10px 0;
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 10px;
        }
        
    .navbar a:hover {
        background-color: #404352ba;
    }

    .navbar a.active {
        border: none;
    }
        
    .burger-menu {
        display: block;
        cursor: pointer;
    }
    .navbar.active {
        display: flex;
    }

    /*main presentation*/
    .main {
        display: flex;
        align-items: center;
        height: 65vh;
        margin-top: 10%;
        padding: 20px 10% 0px;
        color: #ededed;
        max-width: 900px;
    }

    .button-box {       
        padding: 0;
        display: flex;
        flex-direction: column;
        align-content: flex-end;
        align-items: center;
        gap: 20px;
        
    }

    .button-box a {
        text-decoration: none;
        border: 2px solid #ededed;
        border-radius: 10px;        
        letter-spacing: 0.85px;
        width: 230px;
    }

    .button-box a:hover {
        color: #282A36;
        background-color: #39f077;
        border: 2px solid #39f077;
        font-size: 15px;
        font-weight: bold;
    }

    .call-section {
        padding: 5%;
    }
    .box {
        padding: 5%;
        flex-direction: column;
    }
    /* Defining footer */
    .footer {        
        margin-bottom: 5px;
        padding: 20px;
        bottom: 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .bottom-icon {
        width: 90%;
        margin: 0;
        padding: 0;
        gap: 0;
    }

    .bottom-icon a{
        margin-bottom: 0.8em;
        padding: 0;
        font-size: 24px;
    }
    /*Defining Form*/
    .main.contact {
        display: flex;
        padding: 0;
        flex-wrap: wrap;
        height: auto;
        color: #ededed;
        margin-bottom: 11vh;        
    }

    .heading {
        color: #ededed;
        font-size: 37px;
        padding: 45px 0 0;
        margin: 30px 0 -75px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .heading p {
        font-size: 18px;
    }

    .form {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: #353744c5;
        border-radius: 0.8em;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    }

    .input-field {
        flex-direction: column;          
    }
    
    .input-box{
        display: flex;
        flex-direction: column;
        gap: 2em;
        margin-top: 2em;
        padding: 0;
    }

    .input-box input {
        background-color: #282A36;
        color: #ededed;
        letter-spacing: 1px;
        font-size: 15px;
        padding: 12px;
        width: 100%;
        border: 2px solid #39f077;
        border-radius: 0.5em;
        flex-grow: 1;
    }

    .input-box.message {
        margin-top: 2em;
        margin-right: 10px;
    }

    .message input {
        padding-bottom: 15vh;
    }

    .submit {    
        font-size: 22px;
        font-weight: 700;
        padding: 0.5em 2em;
        border-radius: 0.5em;
        background-color: #39f077;
        margin-top: 1.7em;
        border: none;
    }

    .submit:hover {
        background-color: #3aba64e4;
    }

    /* Defining about */
    .main-about {        
        padding: 0;
    }
    
    .image {
        margin: 10em 10% 1em;
        padding: 0.4em; 
    }

    .image img {
        width: 100%;
    }

    .presentation {
        align-content: center;
        padding-bottom: 3em;
        gap: 1em;
    }

    .presentation h2 {
    margin-left: 10%;
    }

    .main-about a {
    text-align: center;
    padding: 1em 3em;
    }

    /* Project section*/
    .project-section .heading {
        margin: 0 0 3%;
    }

    .card-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 100%;
        margin-top: 20vh;
        gap: 5em;
    }

    .project-card {
        width: 75%;        
        height: auto;
        margin: 0.5em;
    }

    .project-card:hover {
        height: auto;
        width: 90%;
    }
}